#  Welcome to the Northwestern Economics and Kellogg PhD Student Zulip! :partying_face:

:wave: Hey {{ name }}!

:bulls_eye: The goal of this platform is to create an environment that allows graduate students to discuss and explore their research interests, and more broadly to assist collaboration within the Northwestern Economics community.

:cross_mark: We want to avoid a proliferation of ad hoc email lists, WhatsApp, Slack, Discord etc groups that are not easy to discover and join, and risk us missing out working with people with similar interests.

{% if student %}

{% if student and auto_streams %}
:magic: You seem to be in Year {{ student.year }} of the PhD. Based on this and your research interests, you've been automatically added to the following streams: {{ auto_streams | map('format_stream') | join(', ') }}.
{% endif %}

{% else %}
:oops: I can't match you to your student profile. Perhaps you are in Kellogg? Currently I can only get the profiles of Economics PhD students. You will have to manually subscribe to your field and course streams. Find them below!
{% endif %}

---

# :thinking: What is Zulip? :thinking:

Zulip is a team chat app, similar to Slack. Unlike Slack, it is free for academic usage. Zulip's key feature is topics: topics are light-weight subjects, similar to the subject line of an email. In Zulip, *streams* (for example #**field/io**) determine who receives a message while *topics* tell you what the message is about. For more details, check out the [guide](https://zulip.com/help/streams-and-topics).

Zulip works best when each conversation has its own topic. When you have something new to say, simply start a new topic! For example `pset2 q3` is a good topic if you are struggling with a problem set question and want some hints from your classmates. Or `acemoglu mistrust misperception and misunderstanding` is a good topic for discussing yet another Acemoglu working paper.

:idea: Messages can be reassigned to different streams and topics ex-post. Please do this if you see that conversions are veering off-topic.

---

# :sparkles: Field Streams :sparkles:

Each field has their own stream. This allows the macroeconomists to share macro events in #**field/macro** without annoying the micro theorists in #**field/microtheory**.

:calendar: Weekly and daily summaries of upcoming events will be posted to each field's stream.

{% if auto_field_streams %}
:magic: You've been automatically added to: {{ auto_field_streams | map('format_stream') | join(', ') }}.

If you're into more fields, feel free to join them too! Here are your options:
{% else %}
These are the available field streams that you can join:
{% endif %}

{% for stream in field_streams %}
* {{ stream | format_stream }}
{% endfor %}


:idea: If your field is missing a stream, then please add one under the "field/" prefix or post a request in the #**zulip** stream.

{% if not student or (1 <= student.year and student.year <= 3) %}
---

# :book: Course Streams :book:

{% if student and student.year == 1 %}
As you appear to be a first year, you've been added to the streams for the core Economics courses: {{ auto_course_streams | map('format_stream') | join(', ') }}.
{% else %}

These are the available course streams:

{% for stream in course_streams %}
* {{ stream | format_stream }}
{% endfor %}


:thank_you: Please add yourself to streams of the courses that you are taking or auditing.
{% endif %}

{% endif %}
---

# Other Streams

You are automatically added to these streams but you may unsubscribe if you wish:

* :megaphone: #**general** - general announcements (specific ones go to relevant field streams)
* :cyclone: #**random** - random exchanges: departmental gossip, suggesting a BBQ, discussing the weather, sports and more!
* :octopus: #**zulip** - questions, requests, ideas etc for the Zulip

And for a tasty bonus:

* :food: #**freefood** - let Kellogg subsidise your food consumption

:working_on_it: Feel free to create your own streams! If you are doing so, please choose a name that fits into the current structure, for example prefixed by `field/`, `course/` or `office/`. Where possible, please make streams public so anyone interested may join.

:speech_balloon: If you have any questions, please ask!

